.Select-control {
    background-color: white !important;
    color: black !important;
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
    color: black !important;
}

.Select-menu-outer {
    background-color: white !important;
    color: black !important;
}

/* Force white text for standard HTML inputs used in Dash */
input[type="number"], .dash-input {
    color: white !important;
}